.form-container {
  display: flex;
  justify-content: center;
}

form {
  max-width: 300px;
  width: 100%;
}

label {
  font-weight:500;
}

#semester-level, #teaching-unit, #paper-side, #paper-side-part, #paper-year {
  outline: none;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #ffffff7c;
  backdrop-filter: blur(3px);
  border: 2px solid #0254a194;
  font-size: 1.1rem;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin: 1em 0;
}

.upload-picture-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#upload-picture {
  display: none;
}
#upload-picture-holder {
  display: inline-flex;
  background-color: #043d7494;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #291a4694;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #01182e94;
    box-shadow: 0px 0px 9px #fff;
  }
}

.change-img-holder {
  display: flex;
  justify-content: center;
}

#change-img {
  padding: 0.2em;
  font-size: 1.1rem;
  border: none;
  box-shadow: 0px 0px 3px #000;
  border-radius: 5px;
  &:hover {
    background-color: rgba(119, 207, 230, 0.233);
  }
}

.paper-submit-btn-holder {
  display: flex;
  justify-content: center;
}

#paper-submit-btn {
  outline: none;
  padding: 0.3em;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(32, 1, 170);
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 3px 3px 3px #000;
  }
}

#loading-circle {
  position: relative;
  margin-right: 2em;
  margin-left: 0.5em;
}

#loading-circle::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-top: 2px solid rgb(32, 1, 170);
  border-bottom: 2px solid rgb(32, 1, 170);
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  animation: turn 0.5s linear infinite;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.exam-paper-welcome-msg {
  padding: 1em;
}
.exam-paper-welcome-msg h4{
  padding-bottom: 0.5em;
  text-align: center;
  line-height: 1.5em;
}

.contribute-msg-group {
  font-size: 1.2rem;
  line-height: 1em;
}

.contribute-msg-group p:first-child {
  line-height: 1.5em;
}

.contribute-msg-group p:last-child {
  line-height: 1.7em;
}

#contribute-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: rgb(32, 1, 170);
  padding: 0.3em;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 3px 3px 3px #000;
    background-color: rgb(32, 1, 170);
  }
}

.semester-boxes-wrapper {
  padding: 1em;
}

.semesters-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

.semester-checkbox {
  display: none;
}

.semester-checkbox-custom-checked-wrapper {
  background-color: #fff;
  box-shadow: 0px 0px 9px #043e74;
  border: 2px solid #fff;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  cursor: pointer;
}
.semester-checkbox-custom-unchecked-wrapper {
  background-color: #1d184994;
  border: 2px solid rgb(196, 6, 164);
  box-shadow: inset 0px 0px 9px #043e74;
  color: #fff;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.semester-checkbox-custom-checked {
  position: relative;
  margin-right: 1.4em;
}
.semester-checkbox-custom-checked::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 9px #043e74;
  border: 2px solid #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.semester-checkbox-custom-checked::after {
  position: absolute;
  content: "√";
  color: #043e74;
  font-size: 1.4rem;
  font-weight: bold;
  height: 16px;
  width: 8px;
  background-color: transparent;
  top: 0;
  left: 0;
  margin-left: 0.2em;
  margin-top: -0.4em;
  transform: rotate(25deg);
  transition: all 0.3s ease-in-out;
  animation: come-in 0.3s ease-in-out;
}

@keyframes come-in {
  from {
    transform: rotate(25deg) translateY(-10px);
    opacity: 0;
  }
  to {
    transform: rotate(25deg) translateY(0);
    opacity: 1;
  }
}

.semester-checkbox-custom-unchecked {
  position: relative;
  margin-right: 1.4em;
}
.semester-checkbox-custom-unchecked::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 9px #043e74;
  border: 2px solid #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.no-semester-selected-msg-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.no-semester-selected-msg {
  display: inline-flex;
  gap: 0.5em;
  padding: 1em;
  border: 1px solid #00000054;
  border-radius: 5px;
  background-color: #ffffff49;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: #000;
}

.no-semester-selected-msg p {
  margin: 0;
  font-size: 1.1rem;
}

#contribute-again {
  color: #043e74;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #0254a1;
    text-decoration: none;
  }
}

.teaching-units-section {
  padding: 1em;
  animation: show-up 0.5s ease-in-out;
}

.choose-exam-paper-semester-title {
  text-align: center;
}
.choose-exam-paper-semester-title span, #teaching-units-section-title span {
  text-decoration: underline dashed #043e74;
  text-underline-offset: 4px;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.units-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
}

.units-holder li {
  list-style: none;
  padding: 0.3em 1em;
  border: 1px solid #043e74;
  border-radius: 5px;
  margin-bottom: 0.5em;
  background-color: #ffffff7c;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.units-holder li:hover {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.units-holder li button {
  outline: none;
  border: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: #0254a1;
  padding: 0.3em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 5px 3px 1px #c406a4;
}

.units-holder li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.unit-info-header {
  display: flex;
  align-items: center;
  gap: 0.2em;
  margin-bottom: 1em;
}

.unit-info-header p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #043e74;
  padding-top: 0.7em;
}

.unit-info-body {
  display: flex;
  justify-content: center;
}

.display-papers-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eef7fcef;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 2000;
  overflow-y: scroll;
  padding: 1em;
}

.display-papers-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.paper-info-header {
  display: flex;
  justify-content: center;
}

.paper-info-header img {
  object-fit: contain;
  width: 250px;
  height: 200px;
}

.paper-item {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 1em;
  background-color: #ffffff7c;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;

}

.paper-info-body {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-info-body h5 {
  text-align: center;
  line-height: 1.5em;
}

.paper-info-body p {
  font-size: 1.1rem;
}

.close-display-papers-body {
  display: flex;
  justify-content: flex-end;
}

.close-display-papers-body button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #043e74;
  border: 1px solid #043e74;
  font-weight: bold;
  padding: 0.3em 1em;
  margin-right: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fff;
    background-color: #0254a1;
    box-shadow: 0px 0px 5px #000;
  }
}

.paper-info-footer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.paper-info-footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #043e74;
  padding: 0.3em;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
    &:hover {
    background-color: #0254a1;
    box-shadow: 0px 0px 5px #000;
  }
}