*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Lora-Italic-VariableFont_wght;
  src: url("./assets/Lora-Italic-VariableFont_wght.ttf");
}

body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: rgba(233, 245, 255, 0.87);
  height: 100vh;
}

.no-scroll {
  overflow: hidden;
}

.Info-holder{
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(12, 8, 8, 0.719);
  backdrop-filter: blur(23px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Info-wrapper{
  background-color: azure;
}
.note{
  color: #cf032f;
}
#site-name{
  color: rgb(21, 0, 206);
}
.ContentInfo{
  display: inline-flex;
  flex-direction: column;
  padding: 1em;
}
.info-title h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.info-body p {
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}
.leave {
  display: flex;
  justify-content: space-between;
}
.hi-btn {
  outline: none;
  border: none;
  color: #000;
  background-color: aliceblue;
  border-radius: 3px;
  visibility: hidden;
}
#click-here {
  margin-top: 1em;
  text-align: center;
}

#prev-btn, #prev-btn-2 {
  cursor: pointer;
  outline: none;
  border: 1px solid silver;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #fff;
  color: #cf032f;

  &:hover {
    color: #fff;
    background-color: #cf032f;
  }
}
#next-btn, #next-btn-2, #close-btn {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #cf032f;
  color: #fff;
  transition: all 0.2s ease-in-out;
   &:hover {
    border: 1px solid silver;
    color: #cf032f;
    background-color: #fff;
   }
}

#second-welcome-message, #integrate-whatsapp {
  display: none;
}
.whatsapp-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
#whatsapp-icon {
  fill: currentColor;
  height: 22px;
}
.whatsapp-content-2, .average-content{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.whatsapp-content-2 a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: green;
  padding: 0.5em;
  border: 2px solid lightgreen;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: green;
    background-color: aliceblue;
  }
}
.average-content a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  background-color: rgb(255, 243, 190);
  padding: 0.5em;
  border: 1px solid brown;
  box-shadow: 0px 0px 9px brown;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: brown;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 9px rgb(255, 243, 190);
  }
}
.whatsapp-content a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: green;
  padding: 0.3em;
  border: 2px solid aliceblue;
  border-radius: 5px;
  animation: nice 1s linear alternate infinite;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: green;
    background-color: aliceblue;
  }
}
@keyframes nice {
  0% {
    box-shadow: 2px 0px 3px red, 0px 2px 3px rgb(70, 0, 128), -2px 0px 3px blue, 0px -2px 3px rgb(248, 224, 4);
  }
  100% {
    box-shadow: 2px 0px 3px rgb(70, 0, 128), 0px 2px 3px yellow, -2px 0px 3px red, 0px -2px 3px rgb(51, 255, 0);
  }
}
#e-crew-icon {
  margin-top: -1em;
  border-radius: 50%;
}
.error-page-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.header-wraper{
  position: fixed;
  top: 0;
  padding: 0.7em;
  width: 100%;
  background-color: aliceblue;
  box-shadow: 4px 0px 4px brown;
  z-index: 1000;
}
.header-holder{
  display: flex;
  padding: 0em 1em;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-between;
}
.header-wraper-home{
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 9em;
  background-color: aliceblue;
  box-shadow: 4px 0px 4px brown;
  z-index: 2;
}

header{
  display: inline-flex;
  gap: 1em;
}

.elearning-member-wrapper {
  align-self: center;
  margin-top: -1em;
}

.elearning-member {
  cursor: pointer;
  background-image: linear-gradient(195deg, rgb(207, 253, 253), rgb(229, 218, 255));
  border-radius: 10px;
  box-shadow: 2px 0px 4px rgb(189, 168, 236), -2px 0px 4px rgb(93, 124, 124);
  transition: all 0.2s ease-in-out;
}
.elearning-member button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0.3em;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px #faf9f9;
  font-style: italic;
}
.elearning-member:hover {
  background-image: linear-gradient(-195deg, rgb(207, 253, 253), rgb(229, 218, 255));
}
#member{
  font-family: Lora-Italic-VariableFont_wght;
}
#answers-header{
  margin-top: 0.5em;
}
.header-elements {
  margin: 0em -1em;
  padding-right: 0.5em;
}
.header-elements ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.header-elements ul > li {
  list-style: none;
}
.header-elements ul > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  border: 1px solid rgb(52, 177, 177);
  background-color: aliceblue;
  box-shadow: 0px 4px 2px rgb(0, 100, 139);
  border-radius: 5px;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}
.header-elements ul > a:hover{
    box-shadow: 6px 6px #cf032f, 12px 12px #00d9e9;
}
.header-elements a.active{
  box-shadow: 6px 6px #cf032f, 12px 12px #00d9e9;
}
.welcome{
  display: flex;
  margin-top: 9em;
}

.welcome_2{
  display: flex;
  margin-top: 12em;
}
#click-open-btn {
  position: relative;
}
#open-btn::before{
  position: absolute;
  content: "";
  height: 12px;
  width: 100%;
  bottom: 0;
  z-index: -1;
  background-color: rgb(209, 216, 255);
}

.test-wraper {
  background-color: rgba(233, 245, 255, 0.87);
  box-shadow: 0px 1px 6px rgba(165, 42, 42, 0.486);
  padding: 0.3em;
  overflow: hidden;
}
.test-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.test-header {
  position: relative;
}
.take-test {
  display: flex;
  gap: 1em;
}
.take-test h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.test-span-holder{
  position: relative;
}
.test-span::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 15px;
  width: 100%;
  background-color: rgba(214, 61, 0, 0.144);
  z-index: -1;
}
.test-span-2::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 15px;
  width: 100%;
  background-color: rgba(61, 214, 0, 0.144);
  z-index: -1;
}
.test-span-3::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 15px;
  width: 100%;
  background-color: rgba(32, 0, 214, 0.144);
  z-index: -1;
}
.test-semester {
  display: flex;
  justify-content: center;
}
.test-semester h2 {
  background-color: aliceblue;
  font-weight: bold;
  padding: 0.3em;
  color: rgb(44, 0, 165);
  border: 2px dashed blue;
  box-shadow: 2px 0px 2px rgb(196, 0, 108), -2px 0px 2px rgb(231, 65, 0);
}

.pick-semester {
  display: flex;
  justify-content: center;
}

.test-semesters-radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.test-radio {
  background-color: rgba(61, 3, 155, 0.034);
  color: #000;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
} 
.test-radio label, .test-radio input{
  cursor: pointer;
} 

.test-radios {
  background-image: linear-gradient(95deg, rgb(1, 105, 88), rgb(37, 154, 201));
  color: #fff;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
}
.test-radios::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 9px;
  width: 9px;
  background-color: rgba(37, 154, 201, 0.548);
  border-top-left-radius: 5px;
}
.test-radios::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 9px;
  width: 9px;
  background-color: rgba(1, 105, 88, 0.541);
  border-bottom-right-radius: 5px;
}

.test-subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-items: stretch;
}

.test-subject-item{
  background-color: aliceblue;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0px 0px 12px #000000;
}

.subject-header{
  padding: 0.3em;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  box-shadow: inset 0px 0px 9px #02282b;
  position: relative;
}

.test-divder{
  border: none;
  height: 5px;
  background-image: linear-gradient(95deg, blue, rgb(6, 207, 207), rgb(5, 201, 5), purple);
  box-shadow: 2px 2px 2px #000;
}

.test-btn {
  outline: none;
  cursor: pointer;
  border: 3px solid;
  font-size: 1.1rem;
  border-top-color: rgba(128, 83, 0, 0.322);
  border-bottom-color: rgba(255, 68, 0, 0.486);
  border-left-color: purple;
  border-right-color: purple;
  border-radius: 15px;
  padding: 0.3em;
  color: #fff;
  background-image: radial-gradient(#021553, rgb(26, 167, 167));
  transition: all .3s ease-in-out;
}

.test-btn:hover {
  background-image: radial-gradient(rgb(26, 167, 167), #021553);
  border-left-color: rgba(255, 68, 0, 0.486);
  border-right-color: rgba(255, 68, 0, 0.486);
  border-top-color: rgb(223, 123, 8);
  border-bottom-color: rgb(223, 123, 8);
}

.grammar-test h1 {
  position: relative;
  text-align: center;
  text-decoration: underline double brown;
  text-underline-offset: 20px;
  line-height: 2em;
}
.grammar-test h1::after{
  position: absolute;
  content: "✵";
  top: 0;
  left: 0;
  margin-top: 1em;
  transform: translate(-50%);
  color: brown;
  background-color: #f3fffe;
  filter: drop-shadow(0px 0px 9px #f3fffe);
}

.test-appear-container{
  display: none;
  animation: appear-4 0.3s ease-in-out;
}

@keyframes  appear-4 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.test-appear {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: #f3fffe;
  padding: 2em;
  z-index: 1000;
}

.correct-answer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
  gap: 1em;
}

.new-added-items{
  align-self: self-start;
}
.new-added-items p {
  padding: 0.2em;
  color: rgb(2, 97, 2);
  background-color: lightgreen;
  box-shadow: 2px 2px 2px yellow;
  border-radius: 5px;
  margin-bottom: -0.5em;
}

.disable-style{
  background-color: lightcoral;
  color: rgb(124, 3, 3);
  transition: all 0.3s ease-in-out;
}
.true-style{
  background-color: lightgreen;
  color: rgb(3, 43, 3);
  transition: all 0.3s ease-in-out;
}

.correct-answer button{
  cursor: pointer;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.3em;
}

.question-wrapper p {
  font-size: 1.1rem;
}

.areas-btn{
  align-self: flex-end;
}

.impression-section {
  display: none;
  border-radius: 5px;
  padding: 0.4em;
  animation: appear-2 0.3s ease-in-out;
}

@keyframes  appear-2 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.impression-section-2 {
  display: none;
  border-radius: 5px;
  padding: 0.4em;
  animation: appear-3 0.3s ease-in-out;
}

@keyframes  appear-3 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.areas{
  resize: none;
}

.check-spinner {
  display: none;
  margin-bottom: -0.3em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top: 3px solid silver;
  border-bottom: 3px solid rgb(94, 74, 74);
  animation: check-spin .4s linear infinite;
}

@keyframes check-spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.check-spinner-reset {
  display: none;
  margin-bottom: -0.3em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top: 3px solid silver;
  border-bottom: 3px solid rgb(94, 74, 74);
  animation: check-spin2 .4s linear infinite;
}

@keyframes check-spin2 {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.input-answer {
  outline: none;
  border: 1px solid #9b9b9b;
  padding: 0.3em;
  font-size: 1rem;
}

.check-answer-btn {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.5em;
  font-size: 1rem;
  background-color: rgb(75, 74, 74);
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgb(206, 205, 205);
    color: #000;
    border: 1px solid rgb(66, 65, 65);
  }
}

.disble-check-btn {
  outline: none;
  border: 1px solid #ccc;
  color: #ccc;
}
#reset-test-btn{
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: rgb(146, 1, 14);
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fff;
    color: brown;
    border: 1px solid brown;
  }
}

#back-btn{
  outline: none;
  cursor: pointer;
  border: 1px solid brown;
  padding: 0.3em;
  border-radius: 5px;
  background-color: brown;
  color: #fff;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fff;
    color: brown;
    border: 1px solid brown;
  }
}

.closing-banner {
  align-self: flex-end;
}

#closing-banner {
  cursor: pointer;
  background-color: #4b4a4a;
  color: #fff;
  outline: none;
  border: 1px solid rgb(243, 241, 241);
  padding: 0.3em;
  border-radius: 0.3em;
  margin-bottom: 1em;
  &:hover {
    background-color: #333333;
    color: #fff;
    border: 1px solid rgb(243, 241, 241);
  }
}

.user-name-holder{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0000007c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name{
  display: inline-flex;
  flex-direction: column;
  gap: 0.5em;
}

.user-name input {
  outline: none;
  border: 1px solid rgb(94, 5, 177);
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1rem;
}

.username-wrapper button {
  outline: none;
  border: none;
  padding: 0.5em;
  font-size: 1rem;
  background-color: rgb(94, 5, 177);
  border: 1px solid rgb(94, 5, 177);
  color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 3px 3px aliceblue, inset 0px -3px 3px aliceblue, inset 0px 4px 5px rgb(94, 5, 177);
  transition: all 0.2s ease-in-out;
}

.username-wrapper button:hover{
  background-color: #fafaf6;
  color: rgb(94, 5, 177);
  box-shadow: inset 0px 3px 3px #8c8b8b, inset 0px -3px 3px #8c8b8b, inset 0px 4px 5px rgb(94, 5, 177);
}

.username-wrapper{
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
  background-color: aliceblue;
  padding: 1em;
  border-radius: 10px;
}

.welcome-text{
  align-self: center;
}
.login-holder{
  display: flex;
  justify-content: center;
  gap: 1em;
}
.inputs-wraper{
  display: flex;
  align-items: center;
}
.input-holder{
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

#username, #password{
  outline: none;
  border: 1px solid silver;
  background-color: transparent;
  border-radius: 10px;
  padding: 1em;
}
#username{
  margin-top: 0.2em;
}
#username:hover, #password:hover{
  border: 1px dashed red;
}

#user-icon{
  margin-top: -0.8em;
}
#login-button{
  margin-top: 1em;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: rgb(71, 1, 163);
  color: #fff;
  padding: 0.7em;
  box-shadow: 0px 0px 4px rgb(92, 6, 179);
  transition: all 0.3s ease-in-out;
}
#login-button:hover{
  background-color: rgb(220, 237, 245);
  box-shadow: 0px 0px 4px rgb(71, 1, 163);
  color: #000;
}
.onlineImg img {
  height: 400px;
}
.welcome::before{
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  background-color: rgb(230, 223, 223);
  clip-path: polygon(14% 96%, 72% 60%, 26% 50%, 89% 28%);
  margin-top: 11em;
  z-index: 1;
}
.welcome_2::before{
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  background-color: rgb(230, 223, 223);
  clip-path: polygon(14% 96%, 72% 60%, 26% 50%, 89% 28%);
  margin-top: 11em;
  z-index: -1;
}
#welcome-message{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#welcome-foot{
  font-size: 1.1rem;
  font-family: monospace;
  font-style: italic;
}
hr.divider{
  border-top: 5px dashed #8c8b8b;
}
#my, #my-courses{
  padding-top: 1em;
}
#my-semester, #my-current-courses{
  text-align: center;
}
#my-semester-text{
  text-decoration: underline dotted red;
  text-underline-offset: 9px;
}

#my-semester-span{
  color: rgb(2, 184, 184);
}

.welcome-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.semester-choice ul{
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
}
.semester-choice ul li {
  list-style: none;
  border: 1px solid silver;
  padding: 0.7em;
  border-radius: 5px;
}

#semester-note{
  font-size: 1.2rem;
  text-decoration: underline double rgb(207, 0, 0);
  text-underline-offset: 3px;
}
#semester-note-2{
  text-decoration: underline rgb(207, 0, 0);
  text-underline-offset: 3px;
}
#no-course{
  display: inline-flex;
  border: 1px solid silver;
  padding: 1em;
  border-radius: 5px;
}

.doc-item{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.7em;
  background-color: rgb(244, 250, 255);
  box-shadow: 0px 0px 4px brown;
  border-radius: 5px;
}
.doc-img-and-name{
  display: flex;
  gap: 1em;
}
.doc-img-and-name p {
  align-self: center;
}
.doc-item p {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
}
.doc-item a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000;
  background-color: aliceblue;
  border: 1px dotted red;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px brown;
  transition: all 0.2s ease-in-out;
}
.doc-item a:hover{
  box-shadow: 0px 2px 2px brown;
}
.doc-action-button{
  display: flex;
  gap: 2em;
  justify-content: center;
}
.Rectification{
  background-color: aliceblue;
  border-radius: 5px;
  padding: 0.7em;
  box-shadow: 0px 0px 1px silver;
}
.faq-holder{
  background-color: rgb(244, 250, 255);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 6px brown;
}

#welcome-pod {
  font-size: clamp(1.4rem, 2.2vw, 2rem);
}

.podcast-wrapper {
  margin-top: 7em;
  display: flex;
  justify-content: center;
}
.podcast-message{
  align-self: center;
}
.podcast-message p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}
.podcast-picture-wrapper img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 4px gray);
  -webkit-filter: drop-shadow(0px 0px 4px gray);
  transition: all 0.2s ease-in-out;
}

#important-item-wrapper, #important-item-wrapper-2 {
  position: relative;
}

#important-item::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-image: linear-gradient(95deg, rgba(0, 217, 255, 0.274), rgba(134, 4, 80, 0.274));
  z-index: -1;
}

#important-item-2{
  text-decoration: underline dashed rgb(168, 2, 79);
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

.podcast-semester-wrapper {
  display: flex;
  justify-content: center;
}
#podcast-semester {
  text-align: center;
  padding: 5px;
  background-color: #fafaf64d;
  border-top: 3px double rgb(197, 76, 7);
  border-bottom: 4px dashed #00218d;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px silver;
}

.podcast-semesters-options {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.podcast-semesters-options label {
  cursor: pointer;
  background-color: #ffffffa4;
  box-shadow: 2px 2px 3px rgb(41, 1, 114);
  border: 1px solid #ccc;
  padding: 0.5em;
}

.cours-podcasts-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.cours-podcast {
  background-image: linear-gradient(to left, rgba(128, 0, 128, 0.123), #cccccc52, rgba(147, 232, 243, 0.822)), url("/stars.png");
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 9px rgba(119, 136, 153, 0.726);
  flex-basis: 25vw;
}
.cours-podcast-header p {
  background-color: #ffffffb4;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  backdrop-filter: blur(2px);
}

.cours-podcast-body p {
  background-color: #ffffffb4;
  backdrop-filter: blur(2px);
  font-size: 1rem;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
}
.podcast-underliner {
  text-decoration: underline wavy rgb(100, 1, 42);
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}


#install-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 16, 16, 0.555);
  backdrop-filter: blur(2px);
  padding: 2em;
  z-index: 9999;
}
.banner-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-title {
  font-weight: bold;
  color: #021553;
  background-color: #0215531a;
  padding: 0.2em;
  border-radius: 5px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 0.5em;
  padding: 1em;
}
#banner-divider {
  text-align: center;
  color: red;
  font-weight: bold;
}

#install-btn{
  outline: none;
  border: none;
  padding: 0.3em;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #021553;
  color: #fff;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #021553;
    background-color: #ffff;
    box-shadow: 0px 0px 3px #000;
  }
}
.reveal-answer{
  background-color: rgba(127, 255, 212, 0.521);
  padding: 0.7em;
  border-radius: 5px;
}
.answer-content{
  line-height: 1.7em;
}
.underline{
  text-decoration: underline red;
  text-underline-offset: 6px;
}
.put-question{
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 0px 4px rgb(159, 3, 190);
}
#Ifso{
  font-size: 1.1rem;
}
.contact-holder{
  display: flex;
  flex-direction: column;
}
#arrow-holder{
  display: flex;
  justify-content: center;
}
#arrow{
  transform: rotate(45deg);
}
#Ifso::before{
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  background-color: rgb(230, 223, 223);
  clip-path: polygon(14% 96%, 72% 60%, 26% 50%, 89% 28%);
  margin-top: -1em;
}
.put-question a {
  align-self: flex-end;
  text-decoration: none;
  color: #000;
  padding: 0.7em;
  border-radius: 10px;
  background-color: paleturquoise;
  box-shadow: 0px 0px 5px brown, 2px 2px 2px lightgreen;
}
.doc-header{
  line-height: 1.5em;
}
.spacers{
  text-align: center;
}

.Detailled-docs{
  padding: 1em;
  display: flex;
  gap: 2em;
  justify-content: center;
}
.Detailled-docs a{
  text-decoration: none;
  background-color: paleturquoise;
  box-shadow: 0px 2px 2px brown;
  border-radius: 10px;
  padding: 0.7em;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.Detailled-docs a:hover{
  color: #fff;
  background-color: brown;
  box-shadow: 0px 2px 2px rgb(68, 78, 78);
}
.put-question a:hover{
  background-color: lightgreen;
  box-shadow: 0px 0px 5px paleturquoise, 2px 2px 2px purple;
}
#Log-out{
  outline: none;
  border: 1px solid silver;
  border-radius: 15px;
  padding: 0.2em;
  box-shadow: 0px 0px 4px brown;
  color: #cf032f;
  transition: all 0.2s ease-in-out;
}
#Log-out:hover{
  color: #fff;
  background-color: #cf032f;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
  margin-top: 4.8em;
  background-color: rgba(249, 253, 253, 0.589);
  box-shadow: 2px 0px 2px slategray;
}
.footer-second-part{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.privacy {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
}

.Phone-number {
  display: flex;
  padding: 0.5em;
}

.not-available{
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
.unavailable {
  background-color: rgb(245, 248, 248);
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #000;
}
.unavailable h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  background-image: linear-gradient(95deg, rgb(51, 172, 172), rgb(3, 114, 3));
  background-clip: text;
  color: transparent;
}
.unavailable p{
  font-size: 1.2rem;
}
.phonetic-trans {
  display: inline-flex;
  font-size: 1.1rem;
}
.phonetics-items {
  margin-top: 0.15em;
}

.welcome-actions {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}
#web-tour {
  text-align: center;
  text-decoration: none;
  color: rgb(1, 1, 102);
  background-color: #ffffffc2;
  padding: 0.3em;
  border-radius: 5px;
  box-shadow: 0px 1px 1px slategrey;
  transition: all 0.2s ease-in-out;
    &:hover {
      color: #ffffff;
        background-color: rgb(1, 1, 102);
        box-shadow: 0px 0px 5px rgba(165, 42, 42, 0.479);
      }
}
.video-title {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.video-title h1 {
  border-bottom: 2px dotted red;
}

.tuto-section {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.video-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(165, 42, 42, 0.479);
  background-image: linear-gradient(to left, #00000034, rgba(41, 30, 73, 0.288)), url("Nice.jpeg");
  background-position: center;
  background-size: cover;
}

.video-holder a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: rgba(207, 230, 253, 0.768);
  padding: 0.5em;
  border-radius: 5px;
  backdrop-filter: blur(12px);
  color: #021553;
  box-shadow: 5px 0px 3px #053f1d81, -5px 0px 3px #053f1d81, 0px 5px 3px #053f1d81, 0px -5px 3px #053f1d81;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #021553;
    color: rgba(207, 230, 253, 0.768);
    box-shadow: 5px 0px 5px #053f1d81, -5px 0px 5px #053f1d81, 0px 5px 5px #053f1d81, 0px -5px 5px #053f1d81;
  }
}
/* ================================================== */
/* ================================================== */

@media screen and (max-width: 992px) {
  .welcome {
    margin-top: 17em;
  }
  .welcome::before{
    display: none;
  }
  .onlineImg img {
    height: 300px;
  }
  .header-wraper-home{
    gap: 2em;
  }
  a.only-desktop{
    display: none;
  }
  .banner-content {
    width: 100%;
  }

  .footer-second-part {
    margin-top: 1em;
    padding: 0.5em;
  }
  .privacy {
    gap: 1em;
  }
  .footer-second-part {
    gap: 0.1em;
  }
}
/* ============================ */
/* ============================ */

@media screen and (max-width: 476px) {

  .header-wraper-home{
    gap: 0.3em;
  }

  .podcast-wrapper {
    margin-top: 11em;
    flex-wrap: wrap;
  }
  .podcast-picture-wrapper img {
    margin-top: -2em;
  }

  .header-elements {
    padding-right: 0.9em;
  }
  a.only-desktop{
    display: none;
  }

  #my, #my-courses{
    padding-top: 3.7em;
  }

  .header-elements ul > a {
    padding: 0.3em;
  }
  #welcome-message{
    padding-top: 1.2em;
  }
  #member{
    padding: 1em;
  }

  .average-content {
    margin-left: 0.7em;
  }

  .welcome {
    flex-direction: column;
    margin-top: 20em;
  }

  .privacy {
    gap: 0em;
  }

  .social-links {
    gap: 0.5em;
  }

  .welcome_2{
    flex-direction: column;
    margin-top: 13em;
  }
  .welcome::before{
    display: none;
  }
  .welcome_2::before{
    display: none;
  }
  .onlineImg img {
    height: 250px;
  }
  .semester-choice ul{
    gap: 2em;
    margin-left: -1em;
  }
  .footer-first-part{
    gap: 0em;
  }
  .login-holder{
    flex-direction: column-reverse;
  }
  .welcome-picture {
    display: flex;
    justify-content: center;
  }
  .welcome-picture img {
    padding: 0.1em;
  }
  .inputs-wraper{
    justify-content: center;
  }
  .cours-podcast {
    flex-basis: 0;
  }
}

@media screen and (max-width: 360px) {
  .social-links {
    gap: 1em;
  }
}